:root {
    --surface-color: #f1f3f9;
    --on-surface-color: #060a0a;
    --primary-color: #D05A0C;
    --on-primary-color: #ffffff;
    --primary-container: #EF965B;
    --on-primary-container: #ffffff;
    --secondary-color: #D05A0C;
    --on-secondary-color: #ffffff;
    --secondary-container: #f1f3f9;
    --on-secondary-container: #ffffff;
    --accent-color: #EF965B;
    --on-accent-color: #ffffff;
    --neutral-color: #ffffff;
    --on-neutral-color: #060a0a;;
}