:root {
    --surface-color: #ffffff;
    --on-surface-color: #15191E;
    --primary-color: #15191E;
    --on-primary-color: #ffffff;
    --primary-container: #E2E2E0;
    --on-primary-container: #15191E;
    --secondary-color: #E2E2E0;
    --on-secondary-color: #15191E;
    --secondary-container: #E2E2E0;
    --on-secondary-container: #15191E;
    --accent-color: ;
    --on-accent-color: ;
    --neutral-color: #ffffff;
    --on-neutral-color: #060a0a;
}

@media (prefers-color-scheme: dark) {
    :root {
  
    }
}