:root {
    --surface-color: ;
    --on-surface-color: ;
    --primary-color: ;
    --on-orimary-color: ;
    --primary-container: ;
    --on-primary-container: ;
    --secondary-color: ;
    --on-secondary-color: ;
    --secondary-container: ;
    --on-secondary-container: ;
    --accent-color: ;  
    --neutra-cСolor: ;
}